.row {
    margin-right: 15px;
    margin-left: 15px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.generate-result > span {
    font-size: 20px;
}

.restart-button {
    margin-top: 5%;
}